{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>homeです</h1>
<a href="{% url 'accounts:user_profile' request.user %}" class="btn">プロフィール</a>
<h2>ツイート一覧</h2>
<a href="{% url 'tweets:create' %}" class="btn">Create Tweet</a>
<ul>
    {% for tweet in tweets %}
    <li>
        <p>{{ tweet.content }}</p>
        <a href="{% url 'accounts:user_profile' username=tweet.user %}" class="btn">投稿者: {{ tweet.user.username }}</a>
        <p>投稿日時: {{ tweet.created_at }}</p>
        <a href="{% url 'tweets:detail' pk=tweet.pk %}">詳細</a>
        <a href="{% url 'tweets:delete' pk=tweet.pk %}">削除</a>
        {% include "tweets/like.html" %}
        {% block extrajs %}
        {% include "tweets/script.html" %}
        {% endblock %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
