.heart {
    width: 100px;
    height: 100px;
    position: relative;
}
.heart::before,
.heart::after {
    content: "";
    width: 50%;
    height: 80%;
    background: #e0548e;
    border-radius: 25px 25px 0 0;
    display: block;
    position: absolute;
}
.heart::before {
    transform: rotate(-45deg);
    left: 14%;
}
.heart::after {
    transform: rotate(45deg);
    right: 14%;
}
